[submodule "stlink"]
	path = stlink
	url = git@github.com:Vadim-Stupakov/stlink.git
[submodule "CubeMX2Makefile"]
	path = CubeMX2Makefile
	url = git@github.com:Vadim-Stupakov/CubeMX2Makefile.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = git@github.com:ChibiOS/ChibiOS.git
[submodule "ChibiOS-Contrib"]
	path = ChibiOS-Contrib
	url = git@github.com:ChibiOS/ChibiOS-Contrib.git

